.site-wrapper  > .featured-header {
    background-image: url(../images/1700.png);
    width: 100%;
    height: 415px;
    margin: 0;
}
.site-wrapper > .navigation {
    display: flex;

}
/* navigation  */
.nav-list {
    list-style: none;
    /* background-color: #D284A5; */
    display: flex;
    align-items: center;
    
}

.nav-list > .nav-alink {
    padding: 10px;
}

.site-wrapper > .body > .featured-text{
    font-size: 50px;
    color: #A80D51;
    text-align: center;
    font-family: 'Mulish', sans-serif;
}

.site-wrapper > .body > .headphone-dog {
    width: 350px;
    height: 400px;
}
/* text */
h1 {
    font-size: 50px;
    color: #A80D51;
    
    font-family: 'Mulish', sans-serif;
}
p {
    color: #000000;
    font-size: 30px;
    
}

/* footer */

.site-wrapper > footer > .copyright {
    font-size: 20px;
    text-align: center;
}

.site-wrapper > footer > img {
    width: 110px;
    height: 110px;   
    display: flex;
}
footer {
    display: flex;
}
/* buttons */
.site-wrapper > footer > a {
    background-color: #A80D51;
    color: white;
    padding: 5px 25px;
    
}

/* icons */
.site-wrapper > footer > .icon-content > i {
    font-size:3em;
    margin: 15px;
    
}